In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
df=pd.read_excel('/content/gdrive/MyDrive/all_academic_necessities/INTERN/official_work/aqualink/HR_data/report_jan21_jan22.xlsx')
df.head()

,Name,ID,Date,Week,OfficeTime,Device_Location,office_type,Entry_Time,Exit_Time,Office_Duration,Over_Time,attendance_type,Leave_Application,leave_type,Department,Designation,Duty_Type,Holiday
0,Md Tanzir Chawdhury,AQ-0107,2021-01-01,Friday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operations,OperationExecutive,Regular,Weekly
1,Mostofa Kamal,AQ-P001,2021-01-01,Friday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operations,PurchaseOfficer,Regular,Weekly
2,Kazi Mozahidul Islam,AQ-0115,2021-01-01,Friday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operations,Accountant,Regular,Weekly
3,Masnur Rahman,AQ-0004,2021-01-01,Friday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,07:15 PM,07:16 PM,0 hour 1 min,NaN,NaN,NaN,NaN,Management,HeadofEmbeddedSystems,Regular,Weekly
4,Sayed Rizban Hussain,AQ-0005,2021-01-01,Friday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Management,HeadofSoftware,Regular,Weekly

In [ ]:
# removing the rows which contains friday and saturday

dropday = df[ (df['Week'] == 'Friday') | (df['Week'] == 'Saturday') ].index
df.drop(dropday , inplace=True)
df.head()

,Name,ID,Date,Week,OfficeTime,Device_Location,office_type,Entry_Time,Exit_Time,Office_Duration,Over_Time,attendance_type,Leave_Application,leave_type,Department,Designation,Duty_Type,Holiday
50,Md Tanzir Chawdhury,AQ-0107,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:15 AM,07:04 PM,7 hour 49 min,NaN,NaN,NaN,NaN,Operations,OperationExecutive,Regular,NaN
51,Kazi Mozahidul Islam,AQ-0115,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operations,Accountant,Regular,NaN
52,Mostofa Kamal,AQ-P001,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operations,PurchaseOfficer,Regular,NaN
53,Sayed Rizban Hussain,AQ-0005,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,09:24 AM,09:07 PM,11 hour 43 min,3 hour 13 min,NaN,NaN,NaN,Management,HeadofSoftware,Regular,NaN
54,Masnur Rahman,AQ-0004,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:12 AM,08:58 PM,9 hour 46 min,1 hour 16 min,NaN,NaN,NaN,Management,HeadofEmbeddedSystems,Regular,NaN

In [ ]:
 #converting the string date to timestamp
 
 df['Office_Duration'] = pd.to_timedelta(df['Office_Duration'])
 df

,Name,ID,Date,Week,OfficeTime,Device_Location,office_type,Entry_Time,Exit_Time,Office_Duration,Over_Time,attendance_type,Leave_Application,leave_type,Department,Designation,Duty_Type,Holiday
50,Md Tanzir Chawdhury,AQ-0107,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:15 AM,07:04 PM,0 days 07:49:00,NaN,NaN,NaN,NaN,Operations,OperationExecutive,Regular,NaN
51,Kazi Mozahidul Islam,AQ-0115,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Operations,Accountant,Regular,NaN
52,Mostofa Kamal,AQ-P001,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Operations,PurchaseOfficer,Regular,NaN
53,Sayed Rizban Hussain,AQ-0005,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,09:24 AM,09:07 PM,0 days 11:43:00,3 hour 13 min,NaN,NaN,NaN,Management,HeadofSoftware,Regular,NaN
54,Masnur Rahman,AQ-0004,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:12 AM,08:58 PM,0 days 09:46:00,1 hour 16 min,NaN,NaN,NaN,Management,HeadofEmbeddedSystems,Regular,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8222,Jomman Ahmed,AQ-01010,2021-12-30,Thursday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Support,Electrician,Regular,NaN
8223,Md Hashibul Islam,AQ - 0106,2021-12-30,Thursday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,09:59 AM,08:29 PM,0 days 10:30:00,2 hour 0 min,NaN,NaN,NaN,R&D,FirmwareDeveloperIntern,Regular,NaN
8224,Aminul Islam,AQ-0122,2021-12-30,Thursday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,09:51 AM,08:15 PM,0 days 10:24:00,1 hour 54 min,NaN,NaN,NaN,R&D,HeadofRD,Regular,NaN
8225,Md. Mahbub Ali,AQ-0126,2021-12-30,Thursday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,R&D,Intern,Regular,NaN
8226,Mohinul Islam,G-1,2021-12-30,Thursday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Guest,HBJamilGroup,Roster,NaN

In [ ]:
# this is how we can access different time comoponent

df.Office_Duration.dt.components.hours

50       7.0
51       NaN
52       NaN
53      11.0
54       9.0
        ...
8222     NaN
8223    10.0
8224    10.0
8225     NaN
8226     NaN
Name: hours, Length: 6374, dtype: float64

In [ ]:
#df['attendance_type'] = df['Office_Duration'].apply(lambda x: 'P' if df.Office_Duration.dt.components.hours >= 4 else 'A')

In [ ]:
# condition for attendance type

df.loc[df.Office_Duration.dt.components.hours >= 4, 'attendance_type'] = 'P'
df.loc[(df.Office_Duration.dt.components.hours < 4) | (df.Office_Duration.isnull()==True), 'attendance_type'] = 'A'

In [ ]:
# for some reason there was a mistake that caused office type not null where absent , that's why this...

df.loc[(df['attendance_type']=='A'), 'office_type'] = np.nan

In [ ]:
df.head()

,Name,ID,Date,Week,OfficeTime,Device_Location,office_type,Entry_Time,Exit_Time,Office_Duration,Over_Time,attendance_type,Leave_Application,leave_type,Department,Designation,Duty_Type,Holiday
50,Md Tanzir Chawdhury,AQ-0107,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:15 AM,07:04 PM,0 days 07:49:00,NaN,P,NaN,NaN,Operations,OperationExecutive,Regular,NaN
51,Kazi Mozahidul Islam,AQ-0115,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,A,NaN,NaN,Operations,Accountant,Regular,NaN
52,Mostofa Kamal,AQ-P001,2021-01-03,Sunday,10:00 AM to 06:30 PM,NaN,NaN,NaN,NaN,NaT,NaN,A,NaN,NaN,Operations,PurchaseOfficer,Regular,NaN
53,Sayed Rizban Hussain,AQ-0005,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,09:24 AM,09:07 PM,0 days 11:43:00,3 hour 13 min,P,NaN,NaN,Management,HeadofSoftware,Regular,NaN
54,Masnur Rahman,AQ-0004,2021-01-03,Sunday,10:00 AM to 06:30 PM,"House 26, Road 28",WFO,11:12 AM,08:58 PM,0 days 09:46:00,1 hour 16 min,P,NaN,NaN,Management,HeadofEmbeddedSystems,Regular,NaN

In [ ]:
#publish the dataframe as csv
df.to_csv('new_hr.csv')

**we can count the number of values in a pandas DataFrame column with a specific condition:**

**Method 1: Count Values in One Column with Condition**

**len(df[df['col1']=='value1'])**

**Method 2: Count Values in Multiple Columns with Conditions**

**len(df[(df['col1']=='value1') & (df['col2']=='value2')])**

****

In [ ]:
absent=df[df.attendance_type=='A']
absent.attendance_type.count()

3556

In [ ]:
absentdayscount=len(df[df['attendance_type']=='A'])
absentdayscount

3556